/* ChessboardDisplay.module.css */

.chessboard {
  width: 98vw;
  max-width: 320px;
}

.square {
  width: 40px;
  height: 40px;
}

.piece {
  width: 28px;
  height: 28px;
}

.filelabel {
  width: 40px;
  height: 20px;
}

@media (min-width: 768px) {
  .chessboard {
    width: 640px;
    max-width: 640px;
  }
  .square {
    width: 80px;
    height: 80px;
  }
  .piece {
    width: 64px;
    height: 64px;
  }
  .filelabel {
    width: 80px;
    height: 32px;
  }
}
